
<h1>Greetings Using Forms</h1>

<p>
  <a href="/greetings" class="btn-primary btn">Go to the form</a>
</p>


<ul>
  {{#each Greeted}}
  <a href="/counter/{{name}}"><li>{{name}}</li></a>
  {{/each}}
</ul>
